{% extends 'base.html' %}

{% block content %}
  <header class="m-5">
    <h2>서비스 소개</h2>
  </header>

  <main>
    <h3><span class="fw-bold">서울 1반 추억쌓피💌</span>는...</h3>
    <p>5개월 간 비대면으로 동고동락한 반 동료에게 그간 하지 못했던 말을 전하는 서비스입니다. </p>
    <p><strong>'비대면과 디지털 시대에는 어떻게 마음을 전하면 좋을까?'</strong> 라는 고민과 함께 시작됐지요.</p>
    <p><strong>SSAFY</strong>는 단순히 '실력있는 개발자가 되기 위한 곳'이 아니라 <strong>'소통을 잘하는 개발자'</strong> & <strong>'든든한 소속감을 통해 책임감 있는 개발자'</strong>로 성장할 수 있는 곳이었습니다.</p>
    <p>대면 수업이었다면 더욱 원활한 교류가 이루어졌겠지만, <strong>서울 1반 추억쌓피</strong>를 통해 아쉬운 마음을 달래볼까요?</p>
    <p>한 학기동안 정말 고생 많으셨고, 어디에서든 <strong>소통왕👍</strong> <strong>책임왕👍</strong> 수식어가 붙는 여러분이 되길 기원하고🙏 기대할게요🥰</p>
    <br>
    <br>
    <h3>저희 팀, <span class="fw-bold">뚱땅즈</span>를 소개합니다!</h3>
  </main>
{% endblock content %}