{% extends 'base.html' %}

{% block content %}
<style>
  .aboutus1 {
    height: 18rem;

  }
  .aboutus2 {
    height: 20rem;
  }
</style>
  <header class="m-5">
    <h2>서비스 소개</h2>
  </header>

  <main>
    <h3><span class="fw-bold">서울 1반 추억쌓피💌</span>는...</h3>
    <p>5개월 간 비대면으로 동고동락한 반 동료에게 그간 하지 못했던 말을 전하는 서비스입니다. </p>
    <p><strong>'비대면과 디지털 시대에는 어떻게 마음을 전하면 좋을까?'</strong> 라는 고민과 함께 시작됐지요.</p>
    <p><strong>SSAFY</strong>는 단순히 '실력있는 개발자가 되기 위한 곳'이 아니라 <strong>'소통을 잘하는 개발자'</strong> & <strong>'든든한 소속감을 통해 책임감 있는 개발자'</strong>로 성장할 수 있는 곳이었습니다.</p>
    <p>대면 수업이었다면 더욱 원활한 교류가 이루어졌겠지만, <strong>서울 1반 추억쌓피</strong>를 통해 아쉬운 마음을 달래볼까요?</p>
    <p>한 학기동안 정말 고생 많으셨고, 어디에서든 <strong>소통왕👍</strong> <strong>책임왕👍</strong> 수식어가 붙는 여러분이 되길 기원하고🙏 기대할게요🥰</p>
    <br>
    <br>
    <h3>저희 팀, <span class="fw-bold">뚱땅즈</span>를 소개합니다!</h3>
    <br>
    <div class="mt-4">

      <div class="d-flex m-4">
        <img class="aboutus1" src="/static/images/aboutus_eunho.jpeg" alt="eunho">
        <p>은호: 디자인과 기획, 프론트를 맡은 은호입니다! 서울 1반 추억쌓피의 페이지의 모든 그림과 이모지를 담당했어요. 사용자의 관점에서 가장 최적의 UI를 만들기 위해 고민했습니다.🙌   </p>
      </div>

      <div class="d-flex m-4">
        <p>희진: 기획과 프론트엔드, 백엔드를 맡은 희진입니다. 우리의 서비스를 사용자가 어떤 마음으로 이용했으면 좋겠는지 고민한 다음, 열심히 모델링하고 오류의 빈틈을 막기 위해 노력했어요.🤘 </p>
        <img class="aboutus2" src="/static/images/aboutus_heejin.png" alt="heejin">
      </div>

      <div class="d-flex m-4">
        <img class="aboutus2" src="/static/images/aboutus_suyeon.png" alt="suyeon">
        <p>수연: 기획 그리고 백엔드를 맡은 수연입니다. 은호와 함께 이모지 및 그림을 완성하고, 백엔드 로직에 빈틈이 없도록, 데이터 흐름이 원활하도록 코드를 짰습니다.✌</p>
      </div>
    </div>

  </main>
{% endblock content %}