{% extends 'base.html' %}

{% block content %}
<header class="m-5">
  <h2 >편지를 성공적으로 <span id="line" class="d-none"><br></span>보냈어요!</h2>
</header>
<div class="container d-flex justify-content-center">
  <a href="{% url 'rollpaper:userlst' %}" class="text-decoration-none userName">
    <h4>다른 사람한테 또 쓰러가기!🏃‍♀️🏃‍♂️</h4>
  </a>
</div>
{% endblock content %}

{% block script %}
<script>
  {% comment %} 모바일에서 header breakpoint 지정 {% endcomment %}
  const line = document.querySelector('#line')
  const mql = window.matchMedia("screen and (max-width: 390px)")
  if (mql.matches) { 
    line.setAttribute('class', '')
  } else { 
    line.setAttribute('class', 'd-none')
  }
</script>
{% endblock script %}