{% extends 'base.html' %}

{% block style %}
  img {
    width: 100%;
    max-width: 800px;
  }

  @media screen and (min-width : 992px){ 
    .letter-body {
      max-width: 500px;
    }
  }
{% endblock style %}

{% block content %}
  <header class="m-5">
    <h2>{{ from }}에게 온 편지</h2>
  </header>

  <main class="text-center">
    <div class="letter-header my-4">
      <h3>{{ rollpaper.title }}</h3>
    </div>
    <div class="letter-body" style="width:80%; margin:0 auto;">
      <p>{{ rollpaper.content }}</p>
    </div>
    <div class="letter-footer">
      <img src="/static/images/letters.PNG" alt="Letter Image">
      <div>
        <a href="{% url 'rollpaper:letterbox' request.user.pk %}" class="btn userName text-decoration-underline mb-5 mt-3" style="float:center;">뒤로</a>
      </div>
    </div>
  </main>

{% endblock content %}