{% extends 'base.html' %}

{% load static %}

{% block content %}
  <header class="m-5">
    <h2 class="text-center">편지함 📫</h2>
  </header>

  <div class="d-flex justify-content-center mb-5">
    <img src="{% static 'wordcloud.jpg' %}" alt="" class="img-fluid">
  </div>

  <h4 class="mb-4">{{ realname }}님께 온 {{ number }}개의 편지를 확인해보세요!</h4>

  {% for rollpaper in my_rollpaper %}
  <div class="mt-3">
    <a href="{% url 'rollpaper:detail' user.pk rollpaper.pk %}" class="btn userName p-0">* {{ rollpaper.title }}</a>
  </div>
  {% endfor %}

{% endblock content %}