{% extends 'base.html' %}

{% block style %}
  @media(min-width: 1200px) {
    .container {
      background-image: url('../../static/images/main_pc.PNG');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    .mobile {
      display: none;
    }

    .easteregg {
      border: none;
      background: none;
      outline: none;
    }
  }

  @media(max-width: 1200px) and (min-width: 474px){
    .container {
        background-image: url('../../static/images/main.PNG');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
      }

    .pc {
      display:none;
    }
    
    .easteregg {
      border: none;
      background: none;
      outline: none;
      padding: 1rem 3rem 10rem 3rem;
      color: rgba(255, 255, 255, 0) !important;
    }
  }
  
  @media(max-width: 474px){
    .container {
      background-image: url('../../static/images/main2.PNG');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    .pc {
      display:none;
    }

    .easteregg {
      border: none;
      background: none;
      outline: none;
      padding: 1rem 1.5rem 5rem 1.5rem;
      color: rgba(255, 255, 255, 0) !important;
    }
  }

{% endblock style %}

{% block content %}
  <header class="m-5 text-center">
    <h2>1학기 동안 <span id="line1" class="d-none"><br></span>다들</h2>
    <h2>정말 <span class="mobile">수고</span>
      <button type="button" class="easteregg pc" data-bs-toggle="modal" data-bs-target="#ericModal">
        수고
      </button>
      <span id="line2" class="d-none"><br></span>많으셨습니다!</h2>
  </header>

  <main class="my-5 mx-2">
    <div class="my-5 p-5"></div>
    <div class="d-flex justify-content-center my-5">
      <button type="button" class="easteregg mobile" data-bs-toggle="modal" data-bs-target="#ericModal">🥚</button>
    </div>
    <div class="my-5 p-5"></div>
    <div class="my-5 p-5 mobile"></div>
  </main>
{% endblock content %}

{% block script %}
<script>
  {% comment %} 모바일에서 header breakpoint 지정 {% endcomment %}
  const line1 = document.querySelector('#line1')
  const line2 = document.querySelector('#line2')
  const mql = window.matchMedia("screen and (max-width: 473px)")
  if (mql.matches) { 
    line1.setAttribute('class', '')
    line2.setAttribute('class', '')
  } else { 
    line.setAttribute('class', 'd-none')
    line2.setAttribute('class', 'd-none')
  }
</script>
{% endblock script %}