{% extends 'base.html' %}

{% block content %}

  <ul class="messages list-unstyled m-2">
    {% for message in messages %}
      <li 
        {% if message.tags == 'error' %}
        class="alert p-0"
        {% endif %}
      >
        {{ message }}
      </li>
    {% endfor %}
  </ul>

  <header class="m-5">
    <h2>내가 쓴 편지 📝</h2>
  </header>

    {% for name in realname %}
      <p class="m-0">
        <a href="{% url 'rollpaper:update' user.pk name %}" class="btn userName m-1">
          * {{ name }}
        </a>
      </p>
    {% endfor %}

{% endblock content %}

{% block script %}
  <script>
    li {
      margin-left: 2.2rem;
    }
  </script>
{% endblock script %}


