{% extends 'base.html' %}

{% block content %}

  <ul class="messages list-unstyled m-2">
    {% for message in messages %}
      <li 
        {% if message.tags == 'error' %}
        class="alert p-0"
        {% endif %}
      >
        {{ message }}
      </li>
    {% endfor %}
  </ul>

  <header class="m-5">
    <h2>내가 쓴 편지 📝</h2>
  </header>

  {% for rollpaper in sentrollpaper %}
    <a href="{% url 'rollpaper:update' user.pk rollpaper.user.realname %}" class="btn userName m-1">{{ rollpaper.user.realname }}</a>
  {% endfor %}

{% endblock content %}