{% extends 'base.html' %}

{% block content %}

  {% if empty %}
    <header class="m-5">
      <h2>당신은 혹시 서울 1반 인싸?! 🤩</h2>
    </header>

    <main class="text-center">
      <h4>현재 가입한 모든 서울 1반 사람들에게 편지를 보냈어요.</h4>
      <h4>아직 가입하지 않은 사람들이 있을 수 있으니 내일도 들어와서 확인해 주실 거죠?</h4>
    </main>
  {% else %}
    <header class="m-5">
      <h2>편지쓰기 ✍🏻</h2>
    </header>
    <h4 class="mb-4">편지를 보내고 싶은 사람의 이름을 클릭하세요!</h4>
    
  {% endif %}

  {% for user in user_lst %}
    {% if user.realname != request.user.realname and user not in excepted %}
      <form action="{% url 'rollpaper:write' user.realname %}" method='GET'>
        <button class="btn userName">* {{ user.realname }}</button>
      </form>
    {% endif %}
  {% endfor %}  

  {% if empty %}
  {% else %}
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn userName" data-bs-toggle="modal" data-bs-target="#userlstModal">
        <i class="bi bi-question-octagon-fill textBlue fs-3" width="20" height="20"></i>
        <span class="align-text-bottom fs-4">
          내가 찾는 사람이 없다구요?
        </span>
      </button>
    </div>
  {% endif %}
  
  <!-- 내가 찾는 사람 Modal (rollpaper/user_lst.html) -->
  <div class="modal fade" id="userlstModal" tabindex="-1" aria-labelledby="userlstModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="userlstModalLabel">👌 걱정 마세요!</h3>
        </div>
        <div class="modal-body">
          <p>현재 가입한 사용자는 <strong>{{ user.realname }}</strong>님을 제외하고 <strong>{{ currentuser }} </strong>명 입니다.</p>
          <br>
          <p>아직 가입하지 않은 회원이 있을 수 있으니</p>
          <p><strong>{{ targetday.month }}월 {{ targetday.day }}일 {{ targetday.hour }}시 {{ targetday.minute }}분</strong>까지 계속 접속하며 확인해 주실 거죠?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mybtn" data-bs-dismiss="modal">🥕이쥬~</button>
        </div>
      </div>
    </div>
  </div> 
{% endblock content %}