@font-face {
  font-family: 'Garam';
  src: url('나눔손글씨 가람연꽃.ttf');
}

body {
  font-family: 'Garam';
}

html {
  font-size:16px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
} 

a {
  font-size: 1.25rem;
}
div {
  margin: 1.25rem;
}

@media screen and (max-width : 768px){ 
  html {font-size:13px}
}

@media screen and (max-width : 576px){ 
  html {font-size:9px}
}

input {
  background-color: #555CF1 !important;
  border-style: none !important;
  color: white !important;
}

.mybtn {
  background-color: #FFC90E  !important;
  color: #555CF1 !important;
}