body {
  font-family: 'Gaegu';
  font-size: larger;
}

h1 {
  font-weight: 400;
  line-height: 3em;
  text-align: center;
}

p {
  font-weight: 300;
}

input {
  background-color: rgb(181, 227, 255) !important;
  border-style: none !important;
  color: white !important;
}