{% extends 'base.html' %}

{% block content %}
  <header class="m-5">
    <h2>비밀번호 변경창</h2>
  </header>

  <div class="accounts-container mt-4">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form2.as_p }}
      
      <div class="d-flex justify-content-between">
        <div class="d-flex ">
          <a href="{% url 'accounts:update' %}" class="btn mybtn">뒤로가기</a>
          <a href="{% url 'rollpaper:main' %}" class="btn mybtn">홈으로 가기</a>
        </div>
        <button class="btn mybtn">수정 완료</button>
      </div>
    </form>
  </div>

{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')
  </script>
{% endblock script %}
