{% extends 'base.html' %}

{% block content %}

  <header class="m-5">
    <h2>아이디 찾기</h2>
  </header>
  
  <div class="accounts-container mt-3">
  <p class="text-center"> 회원가입시 입력했던 이메일을 제출하면 <br>해당 이메일 주소로 아이디를 발송해드려요.</p>

  <form method="POST" class="text-center">

    {% csrf_token %}
    Email : <input type="email" name='email'>
    <input type="Submit" name="email_submit">

    {% for message in messages %}
    
      {{message}}

    {% endfor %}

  </form>
  <br>
  <br>
  <hr>
  <a href="{% url 'accounts:login' %}" class="btn mybtn">뒤로가기</a>
</div>


{% endblock content %}