{% extends 'base.html' %}

{% block content %}
  <header class="m-5">
    <h2>편지쓰러 오셨군요? 기다렸어요</h2>
  </header>

  <div class="accounts-container mt-4">
    <form action="" method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn mybtn" style="float: right;">로그인</button>
    </form>
    <a href="{% url 'rollpaper:index' %}" class="btn mybtn">뒤로가기</a>
  </div>
  <a href=" {% url 'accounts:forgot_id' %}">아이디</a> / <a href="{% url 'accounts:password_reset' %}">비밀번호 찾기</a>
{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')
  </script>
{% endblock script %}
