{% extends 'base.html' %}

{% block content %}

  {% if validlink %}
  <header class="m-5">
    <h2>새로운 비밀번호를 설정해주세요</h2>
  </header>

  <div class="accounts-container mt-3 text-center">
    <form action="" method="POST" class="btn">
      {% csrf_token %}
      <div style="float: left;">
        {{ form.new_password1.label }}:
      </div>
        <div>
          {{ form.new_password1 }}
        </div>
        <br>
        <div style="float: left;">
        {{ form.new_password2.label }}:
        </div>
        <div>
          {{ form.new_password2 }}
        </div>
        <br>
      <hr>
      <button class="btn mybtn" style="float: right;">완료</button>
    </form>
  </div>
  {% else %}
    <header class="m-5">
      <h2>⛔유효하지 않은 링크입니다⛔</h2>
    </header>
  {% endif %}
{% endblock content %}

{% block script %}
  <script>
    const password1 = document.querySelector('[name="new_password1"]')
    password1.setAttribute('class', 'form-control')

    const password2 = document.querySelector('[name="new_password2"]')
    password2.setAttribute('class', 'form-control')
  </script>
{% endblock script %}