{% extends 'base.html' %}

{% block content %}

<header class="m-5">
  <h2> 비밀번호 찾기</h2>
</header>

<div class="mt-3" style="width: 26rem; margin: 0 auto;">
<p class="text-center"> 회원가입시 입력했던 이메일을 제출하면 <br>해당 이메일 주소로 비밀번호 재설정 페이지를 발송해드려요.</p>

<div class="text-center">
  <form method="POST">
    {% csrf_token %}
    Email : <input class="input" type="email" name='email'>
    <input type="Submit" name="email_submit">
  </form>
</div>

<br>
<br>
<hr>
  <a href="{% url 'accounts:login' %}" class="btn mybtn">뒤로가기</a>

</div>


{% endblock content %}