{% extends 'base.html' %}

{% block content %}

<header class="m-5">
  <h2>새로운 비밀번호를 설정해주세요</h2>
</header>

<div class="accounts-container mt-3 text-center">
  <form action="" method="POST" class="btn">
    {% csrf_token %}
    <div style="float: left; margin-left: 1rem;">
      {{ form.new_password1.label }}:
    </div>
      <br>
      <div class="btn">
        {{ form.new_password1 }}
      </div>
      <br>
      <br>
      <div style="float: left; margin-left: 1rem;">
      {{ form.new_password2.label }}:
      </div>
      <br>
      <div class="btn">
        {{ form.new_password2 }}
      </div>
      <br>
      <br>
    <hr>
    <button class="btn mybtn" style="float: right;">완료</button>
  </form>
</div>




{% endblock content %}