{% extends 'base.html' %}

{% block content %}
  <header class="m-5">
    <h2>처음이신가요? 아래 정보를 입력해주세요</h2>
  </header>

  <!-- Button trigger modal -->
  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signupModal">
      <i class="bi bi-exclamation-octagon-fill text-danger fs-3" width="20" height="20"></i> <span class="align-text-bottom fs-3">잠깐!</span>
    </button>
  </div>

  <div class="accounts-container mt-3">
    <form action="" method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn mybtn" style="float: right;">완료</button>
    </form>
    <div>
      <a href="{% url 'rollpaper:index' %}" class="btn mybtn">뒤로가기</a>
    </div>

  </div>

{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')
  
    {% comment %} 이름 input에 한글만 입력받게 js 설정 {% endcomment %}
    const name = document.querySelector('input#realname')
    const onlyKorean = function() {
      const pattern = /[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"'\\]/g
      this.value = this.value.replace(pattern, '')
    }
    name.addEventListener('keypress', onlyKorean)

    const id = 
  </script>
{% endblock script %}