{% extends 'base.html' %}

{% block style %}
{% comment %} .container {
  background-image: url('../../static/images/index_mobile.jpg');
  background-size: cover;
  position: relative;
} {% endcomment %}
{% endblock style %}


{% block content %}
<h1>처음이신가요? 아래 정보를 입력해주세요</h1>

<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signupModal">
    <i class="bi bi-exclamation-octagon-fill text-danger" width="20" height="20"></i> <span class="align-text-bottom">잠깐!</span>
  </button>
</div>

<div class="d-flex justify-content-center mt-4">
  <form action="" method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn mybtn" style="float: right;">완료</button>
  </form>
</div>

{% comment %} 이름 input에 한글만 입력받게 js 설정 {% endcomment %}
<script>
  const name = document.querySelector('input#realname')
  const onlyKorean = function() {
    const pattern = /[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"'\\]/g
    this.value = this.value.replace(pattern, '')
  }
  name.addEventListener('keypress', onlyKorean)
</script>
{% endblock content %}