{% extends 'base.html' %}

{% block content %}
  <header class="m-5">
    <h2>좋은 추억이<span id="line" class="d-none"><br></span> 쌓이셨나요?</h2>
  </header>

  <div class="text-center">
    <div>
      <p>부족한 서비스지만 '서울 1반 추억쌓피'를 통해 <strong>{{ user.realname }}</strong>님이 <br>지난 5개월을 더 의미있게 추억할 수 있길 바랍니다.</p>
      <p>같은 반이 되어서 즐거웠어요!</p>
    </div>
    <div class="m-5">
      <p><strong>{{ user.realname }}</strong>님이 보낸 편지들을 제외하고 <br>계정 정보와 받은 편지들이 영구적으로 삭제되어 복구할 수 없게됩니다.</p>
      <p>탈퇴를 원하시면 비밀번호를 입력해주세요.</p>
    </div>
  </div>

  <div class="accounts-container mt-4">
    <form action="" method="POST">
      {% csrf_token %}
      <div>
        <label name="label_password" for="{{ password_form.password.id_for_label }}">{{ password_form.password.label }}</label>
        {{ password_form.password }}
        {% if password_form.password.errors %}
          {% for error in password_form.password.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </div>
      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'accounts:update' %}" class="btn mybtn">취~소</a>
        <button class="btn dangerbtn">이젠 헤어져야 할 시간..</button>
      </div>
    </form>
  </div>

{% endblock content %}

{% block script %}
  <script>
    const navbar = document.querySelector('nav#navbar')
    navbar.setAttribute('class', 'd-none')

    {% comment %} 모바일에서 header breakpoint 지정 {% endcomment %}
    const line = document.querySelector('#line')
    const mql = window.matchMedia("screen and (max-width: 390px)")
    if (mql.matches) { 
      line.setAttribute('class', '')
    } else { 
      line.setAttribute('class', 'd-none')
    }
  </script>
{% endblock script %}