<!DOCTYPE html>
{% load static %}

<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  <title>추억쌓피</title>
  <style>
    .navitem {
      color: white;
      text-decoration: none;
      font-size: 1.25rem;
    }

    .navitem:hover {
      font-weight: bold !important;
      color: white !important;
    }

    .navbar-brand {
      font-size: 1.4rem;
    }

    .navbar-button {
      all: unset;
      color: white;
      font-size: 1.3rem;
    }

    .navbar-button:hover {
      font-weight: bold !important;
      color: white !important;
    }
    {% block style %}
    {% endblock %}
  </style>
</head>
<body class="d-flex flex-column h-100">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light myClass p-1">
    <div class="container-fluid">
      <a href="{% url 'rollpaper:main' %}" class="navbar-brand px-2 fw-bold" style="color: #FFC90E;">
        <img src="{% static 'favicon.ico' %}" alt="" style="width:2.6rem;">
        서울1반 추억쌓피
      </a>
      <button class="navbar-toggler border-2 border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-justify text-light"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" style="color:white" id="navbarNavAltMarkup">
        {% if request.user.is_authenticated %}
          <div class="navbar-nav">
            <a href="{% url 'rollpaper:aboutus' %}" class="navitem d-inline-block p-1 mx-1">소개</a>
            <a href="{% url 'accounts:update' %}" class="navitem d-inline-block p-1 mx-1">내 계정</a>
            <a href="{% url 'rollpaper:letterbox' user.pk %}" class="navitem d-inline-block p-1 mx-1">편지함</a>
            <a href="{% url 'rollpaper:userlst' %}" class="navitem d-inline-block p-1 mx-1">편지쓰기</a>
            <a href="{% url 'rollpaper:sentletter' user.pk %}" class="navitem d-inline-block p-1 mx-1">내가 쓴 편지</a>
            <form action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <button class="navbar-button d-inline-block p-1 mx-1">로그아웃</button>
            </form>
          </div>
        {% else %}
          <div class="navbar-nav">
            <a href="{% url 'rollpaper:index' %}" class="navitem d-inline-block p-1 mx-1">메인</a>
            <a href="{% url 'rollpaper:aboutus' %}" class="navitem d-inline-block p-1 mx-1">소개</a>
            <a href="{% url 'accounts:signup' %}" class="navitem d-inline-block p-1 mx-1">회원가입</a>
            <a href="{% url 'accounts:login' %}" class="navitem d-inline-block p-1 mx-1">로그인</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  <footer class="footer mt-auto py-3 text-center">
    <small>© DDOONGDDANG's 2022</small>
  </footer>

  <!-- Signup Modal (accounts/signup.html) -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signupModalLabel">🖐 주의 사항</h3>
        </div>
        <div class="modal-body">
          <p>1. 계정이 곧 편지함이 되므로 한 사람당 한 계정을 유지해주세요 (빵긋)</p>
          <p>2. 서울 1반은 모두 한국인이니 이름은 한.글.로.만!</p>
          <p>3. 편지는 *닉네임*으로만 전송되니 본인을 특정할 수 없는 기발한 닉네임을 사용해보세요.</p>
          <p>4. 아이디 및 비밀번호 찾기는 구현하지 않았습니다... 까먹지 않을 수 있죠?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mybtn" data-bs-dismiss="modal">알겠어요</button>
        </div>
      </div>
    </div>
  </div>  

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  {% block script %}
  {% endblock script %}
</body>


</html>