<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap" rel="stylesheet">  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>DDOONGDDANG's</title>
  <style>
    {% block style %}
    {% endblock %}
  </style>
</head>
<body>

  <nav id="navbar" class="navbar navbar-expand-md navbar-light myClass p-1">
    <div class="container-fluid">
      <a href="{% url 'rollpaper:aboutus' %}" class="navbar-brand btn btn-light px-2 fw-bold">소개</a>
      <button class="navbar-toggler border-2 border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-justify text-light"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        {% if request.user.is_authenticated %}
          <div class="navbar-nav">
            <a href="{% url 'accounts:update' %}" class="btn btn-light p-1 mx-1">내 계정</a>
            <form action="{% url 'rollpaper:letterbox' user.pk %}" method='GET' class="d-inline-block">
              <button class="d-inline-block btn btn-light p-1 mx-1">편지함</button>
            </form>
            <form action="{% url 'rollpaper:userlst' %}" method='GET'>
              <button class="btn btn-light p-1 mx-1">편지쓰기</button>
            </form>
            <form action="{% url 'rollpaper:sentletter' user.pk %}" method='GET'>
              <button class="btn btn-light p-1 mx-1">내가 쓴 편지</button>
            </form>
            <form action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-light p-1 mx-1">로그아웃</button>
            </form>
          </div>
        {% else %}
          <div class="navbar-nav">
            <a href="{% url 'accounts:signup' %}" class="nav-link btn btn-light p-1 mx-1">회원가입</a>
            <a href="{% url 'accounts:login' %}" class="nav-link btn btn-light p-1 mx-1">로그인</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Signup Modal (accounts/signup.html) -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">🖐 주의 사항</h5>
        </div>
        <div class="modal-body">
          <p>1. 계정이 곧 편지함이 되므로 한 사람당 한 계정을 유지해주세요 (빵긋)</p>
          <p>2. 서울 1반은 모두 한국인이니 이름은 한.글.로.만!</p>
          <p>2. 편지는 *닉네임*으로만 전송되니 본인을 특정할 수 없는 기발한 닉네임을 사용해보세요.</p>
          <p>3. 아이디 및 비밀번호 찾기는 구현하지 않았습니다... 까먹지 않을 수 있죠?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mybtn" data-bs-dismiss="modal">알겠어요</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Letter Delete Modal (roll_paper/update.html)-->
  <div class="modal fade" id="letterDeleteModal" tabindex="-1" aria-labelledby="letterDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="letterDeleteModal">Why . . .</h5>
        </div>
        <div class="modal-body">
          <p>정말로 삭제하시겠습니까?</p>
          <p>편지가 삭제되어 복구할 수 없게됩니다. '뭘 굳이,,' 라는 마음을 넘어 1학기 동안 고생한 동기에게 짧은 인삿말이라도 보내보세요-!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn mybtn" data-bs-dismiss="modal">휴, 잘못누름</button>
          <button type="button" class="btn dangerbtn">미안하다.. 부끄럽다</button>
        </div>
      </div>
    </div>
  </div>  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  {% block script %}
  {% endblock script %}
</body>
</html>